mongodb:
  image: mongo:3.2
  hostname: mongodb
  container_name: mongodb
  command: --nojournal
  expose:
    - "27017"
 
orion:
    image: fiware/orion:latest
    hostname: orion
    container_name: orion
    links:
        - mongodb
    expose:
        - "1026"
    ports:
        - "1026:1026"
    command: -dbhost mongodb

iotagent-ul:
    image: fiware/iotagent-ul:develop
    hostname: iotagent-ul
    container_name: iotagent-ul
    links:
        - mongodb:mongo
        - orion
    expose:
        - "7896"
        - "4041"
    ports:
        - "7896:7896"
        - "4041:4041"

sth-comet:
  image: fiware/sth-comet
  hostname: sth-comet
  container_name: sth-comet
  links:
    - mongodb
  expose:
    - "8666"
  ports:
    - "8666:8666"
  environment:
    - STH_HOST=0.0.0.0
    - DB_URI=mongodb:27017